@{
    ViewData["Title"] = "Index";
}
<a href="/Default/Urunler">Urunler Sayfası</a>
<a href="/Default/Musteriler/">Müşteriler</a>
<h1>Merhaba Core Projesi</h1>
<h3>Dersler Devam ediyor</h3>
<h1>Mesaj Listesi</h1>
<h1>--------------------</h1>
<h2>@ViewBag.m1</h2>
<h2>@ViewBag.m2</h2>
<h2>@ViewBag.m3</h2>
<h3>@ViewBag.v</h3>
<h1>@ViewBag.k</h1>
<h1>@ViewBag.c</h1>